
<header class='header'>
  <h1> <img src ='../images/delphosWhite.png' alt='DelphosMX Logo' width="60" height="60"> DelphosMX</h1>
  <h2 class='h2-text'>Experiment and Create</h2>
  <aside class='quote'><i>The best place to Create </i><br>Tamara Lataba, Delphos Founder</aside>
</header>
