<header class='header'>

  <h1>DelphosMX</font>
  </h1>
  <h2 class='h2-text'>Experiment and Create.</h2>
  <p class='quote' style="color:#00B7FF">
    <font size=20>The best place to Create.</font> <br>Tamara Lataba, Delphos Founder.
  </p>
</header>

<footer class='footer d-flex flex-row'>
  <section class='col-6'>
    <h3 style="color:white">Contact information</h3>
    <address style="color:#00B7FF; font-size:1.1rem;">Delphos<br> Av Ejército Nacional 505,<br> Granada, 11520,<br> Ciudad
      de México, CDMX<br>
      +33 (0) 619 193 088</address>
    <h3 style="color:white">Follow us</h3>
    <ul style="color:#00B7FF; font-size:1.1rem; ">
      <li class='link-li'><a href='https://www.facebook.com/DelphosMx/' target='_blank' class='link'
          style="color:#00B7FF;text-decoration:none;">Facebook</a></li>
      <li class='link-li'><a href='https://instagram.com/delphosmx?utm_source=ig_profile_share&igshid=1e5fsz532g721'
          target='_blank' class='link' style="color:#00B7FF;text-decoration:none;">Instagram</a></li>
    </ul>
  </section>

  <iframe src="https://maps.google.com/maps?q=taller%20delphos&t=&z=15&ie=UTF8&iwloc=&output=embed"
    class="map-frame flex-wrap" frameborder="0" style="border:0; height:340px; width:60%;" allowfullscreen>
  </iframe>

</footer>