
<header class='header'>
  
  <h1>DelphosMX</font></h1>
  <h2 class='h2-text'>Experiment and Create.</h2>
  <p class='quote' style="color:#00B7FF"><font size=20>The best place to Create.</font> <br>Tamara Lataba, Delphos Founder.</p>
  
  
  
</header>

